.accio-project-container {
  min-height: 100vh;
}
.accio-project-my-project {
  width: 1967px;
  height: 4243px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.accio-project-rectangle2 {
  top: 87px;
  left: 0px;
  width: 1981px;
  height: 1030px;
  position: absolute;
  border-color: transparent;
}
.accio-project-rectangle3 {
  top: 3213px;
  left: 0px;
  width: 1991px;
  height: 1030px;
  position: absolute;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
}
.accio-project-text {
  top: 3314px;
  left: 659px;
  color: rgb(255, 255, 255);
  width: 692px;
  height: auto;
  position: absolute;
  font-size: 100px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.accio-project-group3 {
  top: 3941px;
  left: 146px;
  width: 260.75445556640625px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.accio-project-text01 {
  top: 12px;
  left: 78.45709228515625px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-text03 {
  top: 29px;
  left: 1563px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.accio-project-text04 {
  top: 29px;
  left: 1407px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.accio-project-text06 {
  top: 29px;
  left: 1267px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.accio-project-text08 {
  top: 29px;
  left: 1171px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-transform: none;
  text-decoration: none;
}
.accio-project-text09 {
  top: 29px;
  left: 38px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  z-index: 100;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.accio-project-arrow1 {
  top: 997px;
  left: 864px;
  width: 59px;
  height: 0px;
  position: absolute;
}
.accio-project-group2 {
  top: 1352px;
  left: 747px;
  width: 912px;
  height: 225px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text11 {
  top: -8px;
  left: -24px;
  color: rgba(0, 0, 0, 1);
  width: 912px;
  height: auto;
  position: absolute;
  font-size: 100px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-group31 {
  top: 2251px;
  left: 82px;
  width: 912px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text13 {
  color: rgba(0, 0, 0, 1);
  width: 912px;
  height: auto;
  position: absolute;
  font-size: 100px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-text15 {
  top: 1525px;
  left: 747px;
  color: rgba(0, 0, 0, 1);
  width: 912px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.accio-project-pngegg1 {
  top: 599px;
  right: 93px;
  width: 734px;
  height: 395px;
  position: absolute;
  border-color: transparent;
}
.accio-project-group1 {
  top: 229px;
  left: 96px;
  width: 1050px;
  height: 745px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text22 {
  color: rgba(255, 255, 255, 1);
  width: 1050px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-group19 {
  top: 3516px;
  left: 147px;
  width: 1372px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text24 {
  top: 24px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-group20 {
  top: 3622px;
  left: 146px;
  width: 1372px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text26 {
  top: 21px;
  left: 13px;
  color: rgb(255, 255, 255);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-group21 {
  top: 3728px;
  left: 146px;
  width: 1372px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text27 {
  top: 21px;
  left: 13px;
  color: rgba(255, 255, 255, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-group22 {
  top: 3834px;
  left: 146px;
  width: 1372px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text29 {
  top: 21px;
  left: 13px;
  color: rgba(255, 255, 255, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-group24 {
  top: 2459px;
  left: 45px;
  width: 599px;
  height: 423px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-group23 {
  top: 45px;
  left: 44px;
  width: 253px;
  height: 78px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text31 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-text33 {
  top: 144px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 510px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-group25 {
  top: 2459px;
  left: 689px;
  width: 599px;
  height: 423px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  padding-top: 0;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-group231 {
  top: 45px;
  left: 44px;
  width: 253px;
  height: 78px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text38 {
  color: rgba(0, 0, 0, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-text40 {
  top: 138px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 510px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-group26 {
  top: 2459px;
  left: 1333px;
  width: 599px;
  height: 423px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-group232 {
  top: 45px;
  left: 44px;
  width: 253px;
  height: 78px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.accio-project-text45 {
  color: rgba(0, 0, 0, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-text47 {
  top: 138px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 510px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accio-project-line2 {
  top: 2987px;
  left: 89px;
  right: 89px;
  width: 1789px;
  height: 10px;
  position: absolute;
}
.accio-project-pexelshiddencouple30485271 {
  top: 1353px;
  left: 89px;
  width: 572px;
  height: 726px;
  position: absolute;
  border-color: transparent;
}
.accio-project-container1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-gray-black);
}
